.App {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.navbar_container {
  padding: 10px 20px;
  border: 1px solid red;
  text-align: center;
}

.sign_in_sign_up_container {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid blue;
  padding: 10px;
}

.sign_in_sign_up_container_column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 0.2;
}
